    /* Import font */

    @font-face {
        font-family: 'sans';
        src: url(../assets/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
    }

    @font-face {
        font-family: 'Courier';
        src: url(../assets/fonts/Courier-Prime/CourierPrime-Regular.ttf);
    }

    @font-face {
        font-family: "Bebas-Neue";
        src: url(../assets/fonts/Bebas-Neue/BebasNeue-Regular.ttf);
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .layout-grid {
        width: 100%;
        height: 100%;
        max-width: 1200px;
        margin: 0 auto;
        
    }

    body {
        background-color: #080324;
    }

    header {
        width: 100%;
        height: 60px;
        background-color: #F9003D;
    }

    header .header-flex {
        display: flex;
        justify-content: flex-end;
    }

    header nav {
        width: 600px;
        display: flex;
        justify-content: space-between;
    }

    header nav a {
        border: 2px normal black;
        padding-top: 15px;
        font-family: 'Bebas-Neue';
        color: white;
    }

    h1 {
        color: white;
    }

    .titulo {
        color: white;
        background-image: url(../assets/images/imagem-fundo-banner.png);
        width: 100%;
        height: 740px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
    }

    .titulo-h1 {
        font-family: 'Bebas-Neue';
        padding-top: 200px;
        font-size: 96px;
        padding-left: 90px;
    }

    .titulo-diferente {
        text-transform: uppercase;
        color: red;
        font-family: 'Courier';
        padding-left: 100px;
    }

    .mouse {
        padding-left: 100px;
        padding-top: 30px;
    }

    .banner-info {
        background-image: url(assets/images/imagem-fundo-endereco.png);
        width: 100%;
        height: 720px;
    }

    .tit {
        display: flex;
        align-items: center;
        color: white;
    }

    .img-title {
        padding-top: 100px;
        padding-left: 120px;
        
    }
    .waltuh{
        height:900px
    }

    .img-about {
        padding-top: 100px;
    }

    section {
        display: flex
    }

    h2 {
        color: white;
    }

    .info {
        padding-left: 50px;
        padding-top: 120px;
    }

    p {
        max-width: 600px;
        font-family: 'sans';
        font-size: 18px;
        padding: 50px;
        color: white;
    }

    .titulo-sobre {
        color: red;
        font-size: 64px;
        font-family: 'Bebas-Neue';
        padding-left: 50px;
    }

    h2 {
        text-transform: uppercase;
        font-size: 24px;
        font-family: 'Courier';
        padding-top: 150px;
        padding-left: 50px;
        padding-bottom: 50px;
    }

    .sobre-alunos {
        font-family: 'Bebas-Neue';
        font-size: 64px;
        color: orange;
        padding-left: 50px;
    }
    
    .trampo{
    background-image: url(../assets/images/imagem-fundo-info.png);
    width: auto;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    


    }
    .caixa-artc{
        background-color: #A259F7 50%;
        border:1px solid #340B65;
        height: 100px;
        width: 289px;
        display:flex;
        align-items: center;
        justify-content: center;
        margin-right:100px
    }
    .txt-artc{
        font-family: 'Courier';
        font-size: 28px;
        text-transform: uppercase;
        color: #A259F7;
        
        
    }
    .kibou{
        padding-bottom:0px;
        padding-left:0px
        
    }
    .pre-footer{
        margin-top:-170px;
        margin-left:100px
        
    }
    
    .caixa3{
        background-color: black;
        width: 900px;
        padding-bottom: 0px;
        height: 203px;
        border: 2px solid #340B65
        
    }
    .footer-end{
        width: 100%;
        height: 600px;
        background-image: url(../assets/images/imagem-fundo-endereco.png);
        background-size: cover;
        
    }
    .mapalouco{
        position: absolute;
        
        margin-top: -300px;
        
        padding-left: 560px;
        
        
        
        
    }
    section .layout-grid{
        
        display:flex;
        justify-content: center;
        align-items: center;
       
        
    }
    .pull-up{
        font-family: 'Bebas-Neue';
        font-size: 64px;
        position: absolute;
        margin-bottom:280px;
        margin-left:-700px;
        color:#FFAF00 ;
        
    }
    .paragr{
        color: #A259F7;
        font-family: 'Courier';
    }
    .last-part{
        
        display: flex;
        justify-content:center;
        align-items: center;       
        background-color: #F9003D;
        height:auto;
        
    }
    .sneaky-bastard{
        height: 50px;
    
    }

    

    
    